/.idea/
/scratch/
# Prevent log files from notebooks
/examples/notebooks/external/*.log
/examples/notebooks/external/*.csv
/examples/notebooks/external/*.traj
/examples/notebooks/external/*.pckl
/examples/notebooks/external/*.png
/examples/notebooks/external/AutoNEB_iter
__pycache__/
